@*Objet PagedList*@
@model PagedList.IPagedList<diary.Models.customer>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Liste des clients";
}

<div class="row">
    <h2 class="col-8">Liste des clients</h2>
    <div class="col-4">
        @using (Html.BeginForm("ListCustomer", "Customer", FormMethod.Get))
        {
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <button class="btn btn-outline-secondary" type="submit" id="button-addon1">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
                <input type="text" class="form-control" name="searchString" placeholder="Rechercher">
            </div>
        }
    </div>
</div>

<div class="container mt-2 table-responsive">
    <table class="table table-sm table-hover table-striped table-dark">
        <thead>
            <tr>
                <th>
                    @Html.DisplayName("Nom de famille")
                </th>
                <th>
                    @Html.DisplayName("Prénom")
                </th>
                <th>
                    @Html.DisplayName("Adresse Mail")
                </th>
                <th>
                    @Html.DisplayName("Numéro de télephone")
                </th>
                <th>
                    @Html.DisplayName("Budget")
                </th>
                <th></th>
            </tr>
        </thead>
        <!--pour tous les items dans le model, afficher une ligne dans le tableau-->
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.lastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.firstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.mail)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.phoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.budget)
                </td>
                <td>
                    @Html.ActionLink("Détails | Modifier", "ProfilCustomer", "Customer", new { id = item.idCustomer }, null)
                    @Html.ActionLink("X", "DeleteCustomer", "Customer", new { id = item.idCustomer }, new { @class = "btn btn-danger" })
                </td>
            </tr>
        }

    </table>
</div>
@* Boutons pages avec le nombre de pages totales *@
@Html.PagedListPager(Model, page => Url.Action("ListCustomer", new { page }))
@* Texte: page sur le nbre de pages totales *@
<span class="text-muted">
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
</span>