@* ajout du modèle dans la vue *@
@model diary.Models.broker
@{
    ViewBag.Title = "Ajout Courtier";
}

<h2>Ajouter un nouveau courtier</h2>
@* messages d'erreurs ou réussite insert *@
<span class="success-message">@ViewBag.SuccesMessage</span>
<span class="failure-message">@ViewBag.DuplicateMessage</span>
<div id="form_container" class="container rounded mt-2 text-center">
    @using (Html.BeginForm("AddBroker", "Broker"))
    {
        <div>
            <div class="form-group pt-2">
                @* label, input type text, message d'erreur *@
                @Html.LabelFor(model => model.lastName, new { @class = "label-hidden" })
                @Html.ValidationMessageFor(model => model.lastName, "", new { @class = "rounded failure-message mb-2" })
                @Html.TextBoxFor(model => model.lastName, new { placeholder = "Nom de famille", @class = "form-control" })
            </div>
            <div class="form-group mt-2">
                @Html.LabelFor(model => model.firstName, new { @class = "label-hidden" })
                @Html.ValidationMessageFor(model => model.firstName, "", new { @class = "rounded failure-message mb-2" })
                @Html.TextBoxFor(model => model.firstName, new { placeholder = "Prénom", @class = "form-control" })
            </div>
            <div class="form-group mt-2">
                @Html.LabelFor(model => model.mail, new { @class = "label-hidden" })
                @Html.ValidationMessageFor(model => model.mail, "", new { @class = "rounded failure-message mb-2" })
                @Html.TextBoxFor(model => model.mail, new { placeholder = "Adresse Mail", @class = "form-control" })
            </div>
            <div class="form-group mt-2">
                @Html.LabelFor(model => model.phoneNumber, new { @class = "label-hidden" })
                @Html.ValidationMessageFor(model => model.phoneNumber, "", new { @class = "rounded failure-message mb-2" })
                @Html.TextBoxFor(model => model.phoneNumber, new { placeholder = "Numéro de télephone", @class = "form-control" })
            </div>
            <div class="mt-2 pb-2">
                <button id="submit" type="submit" class="btn btn-primary">Ajouter</button>
            </div>
        </div>
    }
</div>
